
body {
    background-color: #dedede;
    overflow: hidden;
}

.topbar {
	background: #2A3F54;
	border-color: #2A3F54;
	border-radius: 0px;
}

.topbar .navbar-header a {
	color: #ffffff;
}

.wrapper {
    padding-left: 50px;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: 0;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    background: #2A3F54;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main {
	width: 100%;
    position: relative;
    padding-bottom:20px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 52px;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #e8e8e8;
    padding: 0;
    text-align:center;
}

.sidebar-nav li a:hover, .sidebar-nav li.active a {
    text-decoration: none;
    color: #fff;
    background: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li span, .subbar li span {
	display : none;
}

.no-drag{
  -webkit-app-region: no-drag;
}
nav{
  -webkit-app-region: drag;
}

nav.subbar {
	position: relative;
	width: 100%;
	border-radius: 0px;
	background: #fff;
	margin: 50px 0 -50px 0;
	padding: 10px 0 0 0;
	z-index: 2;
}
nav.subbar > ul.nav.nav-tabs {
	padding: 0 5px;
}

nav.subbar > ul.nav.nav-tabs > li.active > a {
    background: #dedede;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px;
}

.content {
    margin-top: 70px;
    padding: 0 30px;
}

.navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
    color: #fff;
}
.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}

/*Inventory*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 14px;
}

.inventory{
  padding: 0px;
  height: 375px;
  overflow-y: scroll;
}
.inventory::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}
.inventory::-webkit-scrollbar-thumb {
    background: #000;
}
.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.btn-add{
  position: absolute;
  top: 420px;
  right: 35px;
}

span.btn-group{
  font-size: 12px;
  padding-right: 7px;
  cursor: pointer;
}

/**/
.pos{
  padding: 0px;
  height: 240px;
  overflow-y: scroll;
}

.pos::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.pos::-webkit-scrollbar-thumb {
    background: #000;
}

.panel-body.pos-invoice{
  height: 396px;
  overflow-y: scroll;
}

.panel-body.pos-invoice::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.panel-body.pos-invoice::-webkit-scrollbar-thumb {
    background: #000;
}
